@font-face {
    font-family: "Caviar";
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: local("Caviar"), local("Caviar"),
        url("./fonts/CaviarDreams.ttf") format("truetype");
}
